.hepsi {
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.menu {
    width: 1000px;
    height: 46px;
    background-color: #333;
}

.orta1 {
    width: 250px;
    height: 20px;
    margin: 40px auto; 
}

.orta2 {
    width: 863px;
    height: 5px;
    margin: 0 auto;
    padding: 327px 0 0 20px;
}

.orta3 {
    width: 883px;
    height: 25px;
    margin: 25px auto;
    background: url(assets/sa.png) ;
    background-size:contain;
}

.orta4 {
    width: 743px;
    height: 200px;
    margin: 0 auto;
    font: 20px helvetica;
    color: #666;
    text-align: center;
}

.orta5 {
    width: 880px;
    height: 410px;
    margin: 0 auto;
    background: black url(assets/sa1.jpg)no-repeat right;
    color: white;
    padding: 70px 0 0 120px;
}

.orta6 {
    width: 840px;
    height: 45px;
    margin: 40px auto 0 auto;
    border-bottom: 1px solid #333;
}

.orta7 {
    width: 840px;
    height: 229px;
    margin: 40px auto;
}

.orta8 {
    width: 840px;
    height: 229px;
    margin: 0 auto;
}


.alt {
    width: 840px;
    height: 25px;
    margin:  80px auto 30px auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    width: 100px;
    height: 38px;
    color: white;
    font: bold 12px tahoma;
    text-decoration: none;
    padding: 8px 0 0 0;
    text-align: center;
}

.menu ul li a:hover {
    color: #fff;
    background-color: #111;
}

.orta4 span {
    font: bold 19px helvetica;
    color: #333;
}

.orta5ic {
    width: 360px;
    height: 300px;
    text-align: center;
    font: 14px helvetica;
    color: #ddd;
}

.orta5ic span {
    font: bold 22px helvetica;
    color: #eee;
}

.orta6 ul li {
    float: left;
    display: block;
    width: 190px;
    height: 35px;
    text-align: center;
    padding: 10px 0 0 0;
    font: 500 22px helvetica;
    color: #666;
}

.orta7 ul li {
    float: left;
    display: block;
    width: 176px;
    height: 229px;
}

.orta8 ul li {
    float: left;
    display: block;
    height: 229px;
    width: 200px;
    text-align: center;
}


